.nav-wrapper{
	padding: 0 20px;
}
.course img {
	width: 300px;
}






/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.auth{
	text-align: center;
	max-width: 800px;
}
h1{
	font-weight: normal;
}
form{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
input{
	width: 100%;
	height: 30px;
	font-size: 20px;
}
input:last-child{
	background: none;
	color: black;

}
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
*/