<h1>Add new courese</h1>
<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Название курса</label>
    <span class="helper-text" data-error="Введите значение" data-succes="right"></span>
  </div>
  <div class="input-field">
    <input id="price" name="price" type="text" class="validate" required>
    <label for="price">Цена курса</label>
    <span class="helper-text" data-error="Введите значение" data-succes="right"></span>
  </div>
  <div class="input-field">
    <input id="url" name="img" type="text" class="validate" required>
    <label for="url">URL картинки</label>
    <span class="helper-text" data-error="Введите значение" data-succes="right"></span>
  </div>
  <button class="btn btn-primary">Add</button>
</form>