<h1>My courses</h1>
{{#if courses.length}}
{{#each courses}}
 	<div class="row">
	    <div class="col s12 m7 offset-s3">
	      <div class="card">
	        <div class="card-image">
	          <img src="{{img}}">
	        </div>
	        <div class="card-content">
	          <span class="card-title">{{title}}</span>
	          <p class="price">{{price}}</p>
	        </div>
	        <div class="card-action">
	          <a href="/courses/{{id}}">Open course</a>
	        </div>
	      </div>
	    </div>
	</div>
{{/each}}
{{else}}
	<p>Курсов нет</p>
{{/if}}